{% extends 'base.html' %}

{% block content %}
    <h3 class="text-center my-4">Suscripcion Gratuita</h3>
    <p class="text-center">Te estas suscribiendo la plan gratuito. Podrás acceder a todos los flanes gratuitos y recibir ofertas esporádicas.</p>
    <p class="fs-5 text-center fw-bold"> Suscripcion gratis</p>
    <div class="row">
        <div class="col-4 offset-4">
            <form method="post">
                {% csrf_token %} 
                {{ form.as_p }}
                <button type="submit" class="btn btn-color"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Estás a un paso de entrar...">Ingresar</button>
        </div>
    </div>
{% endblock %}